<ion-view title="Account">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-log-out" ng-click="logout()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <div class="row">
      <div class="col col-50 col-offset-25">
        <img ng-src="http://gravatar.com/avatar/{{ currentUser.md5_hash }}?s=300" class="img-responsive img-circle" />
      </div>
    </div>
    <div class="list list-inset">
        <div class="item">
          {{ currentUser.username }}
        </div>
    </div>
  </ion-content>
</ion-view>
