<ion-view title="Register">
  <ion-content class="has-header padding">
    <form ng-submit="register()" ng-controller="AuthCtrl">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" ng-model="user.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="user.password" placeholder="Password">
        </label>
      </div><!-- /.list -->
      <input type="submit" value="Register" class="button button-outline button-block button-positive" />
    </form>
    {{ user.email }}
  </ion-content>
</ion-view>
